.collection-item {
	width: 22vw;
	display: flex;
	flex-direction: column;
	height: 360px;
	align-items: center;
	position: relative;

	.image-container {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
		cursor: pointer;
	}

	.custom-button {
		width: 80%;
		opacity: 0.7;
		position: absolute;
		top: 260px;
		display: none;
	}

	.collection-footer {
		display: flex;
		width: 100%;
		height: 5%;
		justify-content: space-between;
		font-size: 20px;

		.name {
			width: 90%;
		}
		.price {
			width: 10%;
		}
	}
	&:hover {
		.image-container {
			opacity: 0.8;
		}
		.custom-button {
			display: inline-block;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}
}
