.collection-preview {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	.link-container {
		margin-bottom: 25px;
		.title {
			font-size: 28px;
		}
	}

	.preview {
		display: flex;
		justify-content: space-between;
	}
}
